<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAx-eP4x4JyDCkb59JcNV5OLwqLNqA3--4</string>
	<key>GCM_SENDER_ID</key>
	<string>965514186199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swift_care</string>
	<key>PROJECT_ID</key>
	<string>roaddoc-30cd4</string>
	<key>STORAGE_BUCKET</key>
	<string>roaddoc-30cd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965514186199:ios:58bcea61d137d6c931cf92</string>
</dict>
</plist>